@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(211, 211, 211, 0.1);
}

.logo-link {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
}

.logo-link img {
  object-fit: contain;
  width: 60px;
  height: 30px;
}

.logo-text {
  border: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #ec5242;
}

i {
  color: #fff;
  cursor: pointer;
}

i:hover {
  transform: scale(1.2);
  transition: all 2s ease-in-out;
}

#hamburger {
  color: #272a31;
  font-size: 3rem;
  margin: 8px 0;
}

#close-icon {
  color: #fff;
  font-size: 2rem;
  margin: 8px 0 24px 0;
  position: absolute;
  right: 18px;
  top: 32px;
}

.card,
.nav-bar {
  background-color: #272a31;
}

.ad,
h5.card-title,
.chevron-arrow {
  color: #ec5242;
}

.ad-title {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('./images/audience1.jpg');
}

.description {
  color: #272a31;
  opacity: 0.8;
  border: 2px solid #fff;
}

.cartex {
  flex-basis: 48%;
}

.art-logo-details,
.past-exhibitions {
  background-color: #fff;
}

.card-audience {
  background-color: #ec5242;
}

.year {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.place {
  top: 64%;
  left: 40%;
  transform: translateX(-35%) translateY(-50%);
}

.about-logo {
  background-color: #fff;
  border: 2px solid #d3d3d3;
}

.email-contact {
  color: #272a31;
  opacity: 0.8;
}

.about {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.email {
  color: #272a31;
  opacity: 1;
}

.date {
  color: #272a31;
  opacity: 0.8;
  letter-spacing: 1px;
}

#companytitle {
  color: #ec5242;
}

#secondcolumnp,
#secondcolumnlorem {
  color: #272a31;
}

.main-content {
  background-color: #272a31;
}

.hr {
  border-bottom: 1px solid #ec5242;
}

.cardimg {
  width: 80px;
  height: 120px !important;
  object-fit: contain;
}

.cardbg {
  background-color: rgba(211, 211, 211, 0.1);
}

.cardtitle,
.active {
  color: #ec5242;
}

.register-btn {
  width: 90%;
  background-color: #ec5242;
}

.join-btn {
  background-color: #fff;
  border: 2px solid #ec5242 !important;
  color: #ec5242;
}

hr {
  width: 5%;
  margin: 0 auto;
}

.speaker-hr {
  width: 10%;
}

.partner-title {
  color: #d3d3d3;
}

.cards-ad .card:hover {
  border: 2px solid #ec5242;
  box-shadow: 2px 2px 8px #ec5242;
  transition: all 1s ease-in-out;
}

.our-partners img {
  width: 50px;
  height: 50px;
}

h1.abouttile {
  color: #ec5242;
}

.conference-card img {
  width: 100%;
}

.footer {
  color: #272a31;
}

#show-more-btn {
  width: 92%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #272a31;
}

h1.abouttitle {
  color: #ec5242;
}

.background-img {
  background-image: url('images/audience2.jpg');
  height: 4rem;
  background-size: contain;
  position: relative;
}

.background-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(236, 82, 66, 0.7);
}

.button {
  background-color: #fff;
}

.black-chess {
  top: -6px;
  left: -8px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

li {
  list-style-type: none;
}

.logo-hamburger a,
.menu-links a {
  text-decoration: none;
  color: #272a31;
}

.img-logo {
  width: 90px;
  height: 50px;
}

.img-footer {
  width: 90px;
  height: 50px;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .register-btn a {
    text-decoration: none;
  }

  .mobile-speaker-card {
    background-color: #fff;
  }

  .main-content {
    background-color: #272a31;

    /* background-color: red; */
    margin-top: 40px;
  }

  .menu-links {
    background-color: #ec5242;
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 24px;
    transition: all 5s ease-in-out 1s;
  }

  #hamburger {
    display: block;
  }

  .menu-links li {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 54px;
  }

  .menu-links a {
    color: #fff;
  }

  .home-link {
    margin-top: 42px;
  }

  .joinus-btn {
    border: 1px solid #fff;
    width: 50%;
  }

  a.joinus-btn {
    color: #ec5242;
    cursor: pointer;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
  }

  .service-title {
    flex-basis: 20%;
  }

  .cards-ad .card:hover {
    border: 1px solid #ec5242;
    box-shadow: 1px 2px 4px #ec5242;
    transition: all 1s ease-in-out;
  }

  .register-btn:hover {
    box-shadow: 2px 2px 8px #ec5242;
  }
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  .menu-link:hover {
    color: #ec5242;
    transition: all 1s ease-in;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
  }

  .place {
    top: 64%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .conference-card {
    height: 18rem;
    width: 50%;
  }

  .conference-cards-section {
    width: 75%;
  }

  h1.ad-title {
    width: 70%;
    font-size: 4.5rem;
    font-weight: bolder;
  }

  h1.abouttitle {
    width: 70%;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ec5242;
    margin: 0 auto;
  }

  .top-nav {
    box-shadow: 1px 3px 20px rgba(39, 42, 49, 0.2);
  }

  .description {
    width: 60%;
    padding-left: 0;
    border: 5px solid #fff;
  }

  .email-contact {
    width: 60%;
    padding-left: 0;
  }

  .register-btn {
    background-color: inherit;
    border: none;
  }

  .register-btn a {
    text-decoration: none;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid #fff;
  }

  .join-btn a {
    text-decoration: underline;
    border-bottom: 1px solid #fff !important;
  }

  .register-btn a:hover {
    color: #ec5242;
  }

  .speaker-details {
    background-color: #fff;
  }

  #desktop-speakers-section {
    width: 80%;
    padding-top: 1rem;
  }

  #desktop-speakers-section .speaker-card {
    width: 30rem;
    background-color: #fff;
  }

  .our-partners img {
    width: 100px;
    height: 100px;
  }

  .cards-ad .card {
    width: 12rem;
  }

  .about-logo {
    width: 50%;
  }

  .about-footer {
    background-color: #272a31;
    color: #fff;
  }

  .company-title,
  .second-column p {
    color: #fff;
  }

  .second-column p.second {
    width: 70%;
  }

  .chess {
    top: -6px;
    left: -8px;
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  .joinus-btn:hover {
    cursor: pointer;
    background-color: #ec5242;
    color: #fff;
    box-shadow: 4px 4px 12px #ec5242;
    transition: all 2s ease-in-out;
  }
}

.speaker-image {
  z-index: 12;
}
