@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(211, 211, 211, 0.1);
}

i {
  color: #fff;
}

.hamburger {
  color: #272a31;
  font-size: 1.8rem;
}

#close-icon {
  color: #272a31;
  font-size: 3rem;
  margin: 8px 0;
}

.card,
.nav-bar {
  background-color: #272a31;
}

.ad,
h5.card-title,
.chevron-arrow {
  color: #ec5242;
}

.ad-title {
  color: #ec5242;
}

.description {
  color: #272a31;
  opacity: 0.8;
  border: 2px solid #fff;
}

.art-logo-details,
.past-exhibitions {
  background-color: #fff;
}

.card-audience {
  background-color: #ec5242;
}

.year {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.place {
  top: 64%;
  left: 40%;
  transform: translateX(-35%) translateY(-50%);
}

.about-logo {
  background-color: #fff;
  border: 2px solid #d3d3d3;
}

.email-contact {
  color: #272a31;
  opacity: 0.8;
}

.about {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.email {
  color: #272a31;
  opacity: 1;
}

.date {
  color: #272a31;
  opacity: 0.8;
  letter-spacing: 1px;
}

#companytitle,
#secondcolumnp,
#secondcolumnlorem {
  color: #272a31;
}

.main-content {
  background-color: #272a31;
}

.hr {
  border-bottom: 1px solid #ec5242;
}

.cardimg {
  width: 80px;
  height: 80px;
}

.cardbg {
  background-color: rgba(211, 211, 211, 0.1);
}

.cardtitle,
.active {
  color: #ec5242;
}

.register-btn {
  width: 90%;
  background-color: #ec5242;
}

.join-btn {
  background-color: #fff;
  border: 3px solid #ec5242 !important;
  color: #ec5242;
}

hr {
  width: 5%;
  margin: 0 auto;
}

.speaker-hr {
  width: 10%;
}

.partner-title {
  color: #d3d3d3;
}

.cards-ad .card:hover {
  border: 2px solid #fff;
}

.our-partners img {
  width: 50px;
  height: 50px;
}

h1.abouttile {
  color: #ec5242;
}

.conference-card img {
  width: 100%;
}

.footer {
  color: #272a31;
}

#show-more-btn {
  width: 92%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #272a31;
}

h1.abouttitle {
  color: #ec5242;
}

.background-img {
  background-image: url('images/audience2.jpg');
  opacity: 0.2;
  background-size: contain;
}

.button {
  background-color: #fff;
}

.black-chess {
  top: -6px;
  left: -8px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .register-btn a {
    text-decoration: none;
  }

  .mobile-speaker-card {
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .place {
    top: 64%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .conference-card {
    height: 18rem;
    width: 50%;
  }

  .conference-cards-section {
    width: 75%;
  }

  h1.ad-title {
    width: 70%;
    font-size: 4.5rem;
    font-weight: bolder;
  }

  h1.abouttitle {
    width: 70%;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ec5242;
    margin: 0 auto;
  }

  .top-nav {
    box-shadow: 1px 3px 20px rgba(39, 42, 49, 0.2);
  }

  .description {
    width: 60%;
    padding-left: 0;
    border: 5px solid #fff;
  }

  .email-contact {
    width: 60%;
    padding-left: 0;
  }

  .register-btn {
    background-color: inherit;
    border: none;
  }

  .register-btn a {
    text-decoration: underline;
  }

  .join-btn a {
    text-decoration: underline;
    border-bottom: 1px solid #fff !important;
  }

  .speaker-details {
    background-color: #fff;
  }

  #desktop-speakers-section {
    width: 80%;
    padding-top: 1rem;
  }

  #desktop-speakers-section .speaker-card {
    width: 30rem;
    background-color: #fff;
  }

  .our-partners img {
    width: 100px;
    height: 100px;
  }

  .cards-ad .card {
    width: 12rem;
  }

  .about-logo {
    width: 50%;
  }

  .about-footer {
    background-color: #272a31;
    color: #fff;
  }

  .company-title,
  .second-column p {
    color: #fff;
  }

  .second-column p.second {
    width: 70%;
  }

  .chess {
    top: -6px;
    left: -8px;
    width: 50px;
    height: 50px;
    z-index: 1;
  }
}

.speaker-image {
  z-index: 12;
}
