@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(211, 211, 211, 0.1);
}

i {
  color: #fff;
}

.hamburger {
  color: #272a31;
  font-size: 1.8rem;
}

.card,
.nav-bar {
  background-color: #272a31;
}

.ad,
h5.card-title {
  color: #ec5242;
}

.ad-title {
  letter-spacing: 0.8px;
  color: #ec5242;
}

.description {
  color: #272a31;
  opacity: 0.8;
  border: 2px solid #fff;
}

.date {
  color: #272a31;
  opacity: 0.8;
  letter-spacing: 1px;
}

.company-title,
.second-column p {
  color: #272a31;
}

.main-content {
  background-color: #272a31;
}

.hr {
  border-bottom: 1px solid #ec5242;
}

.cardimg {
  width: 80px;
  height: 80px;
}

.cardbg {
  background-color: rgba(211, 211, 211, 0.1);
}

.cardtitle,
.active {
  color: #ec5242;
}

.register-btn {
  width: 90%;
  background-color: #ec5242;
}

.join-btn {
  background-color: #fff;
  border: 3px solid #ec5242 !important;
  color: #ec5242;
}

hr {
  width: 5%;
  margin: 0 auto;
}

.partner-title {
  color: #d3d3d3;
}

 .cards-ad .card:hover {
   border: 2px solid #fff;
 }

@media screen and (min-width: 768px) {
  h1.ad-title {
    width: 50%;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .top-nav {
    box-shadow: 1px 3px 20px rgba(39, 42, 49, 0.2);
  }

  .description {
    width: 60%;
    padding-left: 0;
    border: 5px solid #fff;
  }

  .register-btn {
    background-color: inherit;
    border: none;
  }

  .join-btn a {
    text-decoration: underline;
    border-bottom: 1px solid #fff !important;
  }

  .cardtitle {
    font-size: 1.4rem;
  }

  .speakers {
    background-color: #fff;
  }

  .our-partners img {
    width: 100px;
    height: 100px;
  }

  .cards-ad .card{
    width: 12rem;
  }
}